<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentSinister(); as documentSinisterRef) {
      <div>
        <h2 data-cy="documentSinisterDetailsHeading"><span>Document Sinister</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ documentSinisterRef.id }}</span>
          </dd>
          <dt><span>Document Id</span></dt>
          <dd>
            <span>{{ documentSinisterRef.documentId }}</span>
          </dd>
          <dt><span>Document Name</span></dt>
          <dd>
            <span>{{ documentSinisterRef.documentName }}</span>
          </dd>
          <dt><span>Issue Date</span></dt>
          <dd>
            <span>{{ documentSinisterRef.issueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Expiry Date</span></dt>
          <dd>
            <span>{{ documentSinisterRef.expiryDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Associated Sinister</span></dt>
          <dd>
            <span>{{ documentSinisterRef.associatedSinister }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/document-sinister', documentSinisterRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
