<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (contract(); as contractRef) {
      <div>
        <h2 data-cy="contractDetailsHeading"><span>Contract</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ contractRef.id }}</span>
          </dd>
          <dt><span>Contract Id</span></dt>
          <dd>
            <span>{{ contractRef.contractId }}</span>
          </dd>
          <dt><span>Start Date</span></dt>
          <dd>
            <span>{{ contractRef.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>End Date</span></dt>
          <dd>
            <span>{{ contractRef.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Premium Amount</span></dt>
          <dd>
            <span>{{ contractRef.premiumAmount }}</span>
          </dd>
          <dt><span>Coverage Details</span></dt>
          <dd>
            <span>{{ contractRef.coverageDetails }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ contractRef.status }}</span>
          </dd>
          <dt><span>Renouvelable</span></dt>
          <dd>
            <span>{{ contractRef.renouvelable }}</span>
          </dd>
          <dt><span>Client</span></dt>
          <dd>
            @if (contract()!.client) {
              <div>
                <a [routerLink]="['/client', contract()!.client?.id, 'view']">{{ contractRef.client?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/contract', contractRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
